body{
	background-color: rgb(236, 243, 249);
}

.container{
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.main-navigation-logo{
	min-height: 70px;
	font-weight: 700;
	font-size: 26px;
	float: left;
}

.main-navigation-logo-part1{
	font-weight: 700;
	font-size: 16px;
}

.main-navigation-logo a {
	text-decoration: none;
	color: #000;
}

.main-navigation-logo a {
	text-decoration: none;
	color: #000;
}

.main-navigation{
	min-height: 70px;
	float: left;
	display: flex;
	align-items: center;
/*	padding-top: 0;
*/}

.main-navigation-list{
	list-style-type: none;
}

.main-navigation-list li{
	display: inline-block;
}

.main-navigation-list li a{
	text-decoration: none;
	color: #000;
}

.main-navigation-callback{
	min-height: 70px;
	float: right;
	display: flex;
	align-items: center;
}

.main-navigation-callback a{
	text-decoration: none;
	color: #000;
}

.index-slider{
	clear: both;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.index-item{
	clear: both;
}

.index-item-left{
	float: left;
/*	width: 400px;
*//*	display: flex;
*/	/*align-items: center;
	justify-content: center;*/
}



.index-item-right{
	float: right;
}

.main-footer{
	clear: both;
}

.footer-company{
	float: left;
	margin-right: 70px;
}

.footer-contacts{
	float: left;
}

.footer-social{
	float: right;
}
